<form (ngSubmit)="enviarFactura()" class="space-y-4">
  <div class="space-y-4">
    <div class="flex flex-col">
      <label for="nombre" class="mb-2 text-sm font-medium text-gray-700">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="facturaDatos.nombre" 
             class="px-4 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
    </div>

    <div class="flex flex-col">
      <label for="precio" class="mb-2 text-sm font-medium text-gray-700">Precio:</label>
      <input type="number" id="precio" name="precio" [(ngModel)]="facturaDatos.precio" 
             class="px-4 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
    </div>

    <div class="flex flex-col">
      <label for="descripcion" class="mb-2 text-sm font-medium text-gray-700">Descripción:</label>
      <input type="text" id="descripcion" name="descripcion" [(ngModel)]="facturaDatos.descripcion" 
             class="px-4 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
    </div>

    <div class="flex flex-col">
      <label for="categoria" class="mb-2 text-sm font-medium text-gray-700">Categoría:</label>
      <input type="text" id="categoria" name="categoria" [(ngModel)]="facturaDatos.categoria" 
             class="px-4 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
    </div>

    <div class="flex flex-col">
      <label for="imagen" class="mb-2 text-sm font-medium text-gray-700">Imagen:</label>
      <input type="text" id="imagen" name="imagen" [(ngModel)]="facturaDatos.imagen" 
             class="px-4 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
    </div>

    <button type="submit" class="px-4 py-2 font-medium text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Enviar</button>
  </div>
</form>
