<div class="max-w-sm mx-auto mt-10">
  <h2 class="text-center text-2xl font-semibold text-gray-800 mb-6">Agregar Plato</h2>
  <form (ngSubmit)="ingresarPlato()" class="max-w-md mx-auto p-6 bg-white shadow-md rounded-lg space-y-4">
    <div class="space-y-4">
      <div class="flex flex-col items-center">
        <label for="nombre" class="mb-2 text-sm font-medium text-gray-700">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="facturaDatos.nombre" 
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 outline-none" />
      </div>

      <div class="flex flex-col items-center">
        <label for="precio" class="mb-2 text-sm font-medium text-gray-700">Precio:</label>
        <input type="number" id="precio" name="precio" [(ngModel)]="facturaDatos.precio" 
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 outline-none" />
      </div>

      <div class="flex flex-col items-center">
        <label for="descripcion" class="mb-2 text-sm font-medium text-gray-700">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" [(ngModel)]="facturaDatos.descripcion" 
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 outline-none" />
      </div>

      <div class="flex flex-col items-center">
        <label for="categoria" class="mb-2 text-sm font-medium text-gray-700">Categoría:</label>
        <input type="text" id="categoria" name="categoria" [(ngModel)]="facturaDatos.categoria" 
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 outline-none" />
      </div>

      <div class="flex flex-col items-center">
        <label for="imagen" class="mb-2 text-sm font-medium text-gray-700">Imagen:</label>
        <input type="text" id="imagen" name="imagen" [(ngModel)]="facturaDatos.imagen" 
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 outline-none" />
      </div>

      <button type="submit" class="w-full py-2 px-4 bg-blue-600 text-white font-medium rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        Enviar
      </button>
    </div>
  </form>
</div>