<div class="container mx-auto py-8 px-8">
  <div #CalificacionRealizada class="mt-1" >
    <div *ngIf="stateCalificar" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative left-6"  role="alert">
      <strong class="font-bold">¡Éxito!</strong>
      <span class="block sm:inline">El mesero ha sido calificado satisfactoriamente.</span>
      <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg class="fill-current h-6 w-6 text-green-500"  role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-3.5-3.5 1.42-1.42L10 12.17l4.08-4.09 1.42 1.42L10 15z"/></svg>
      </span>
    </div>
  </div>
    <h1 class="text-2xl font-bold mb-6">Meseros</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div *ngFor="let mesero of meseros" class="bg-white rounded-lg shadow-md p-6">
        <img [src]="mesero.imagen" alt="{{ mesero.nombre }}" class="w-full h-48 object-cover rounded-t-lg mb-4">
        <h2 class="text-xl font-semibold mb-2">{{ mesero.nombre }}</h2>
        <!-- Agregar campos para calificar mesero -->
        <div class="flex items-center mt-4">
          <input type="number" id="calificacion-{{mesero._id}}" name="calificacion-{{mesero._id}}" min="1" max="5" [(ngModel)]="mesero.calificacion" class="w-16 h-8 border-gray-300 border rounded-md text-center mr-4" placeholder="Calificar">
          <button (click)="calificarMesero(mesero._id, mesero.calificacion)" class="bg-blue-500 text-white py-2 px-4 rounded-md">Calificar</button>
        </div>
      </div>
    </div>
  </div>
  